---
layout: default
title: Verificação
parent: Tecnologia e Processos
nav_order: 2.1.4
---
